<h2>
    Sample methods
</h2>
<ul>
    <li>
        @Html.ActionLink("GET requests with complex objects", "Students", "Samples")
    </li>
    <li>
       @Html.ActionLink("Sending files to API", "StudentsInfo", "Samples")
    </li>
</ul>