/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.search-panel .size-control {
    width: 70px !important;
}

.search-panel .size-control-parent {
    width: fit-content;
    display: inline-block;
    position: relative;
}

    .search-panel .size-control-parent.from {
        margin-right: 20px;
    }

        .search-panel .size-control-parent.from::after {
            content: " ";
            display: block;
            position: absolute;
            height: 3px;
            background: black;
            width: 40px;
            left: 100%;
            top: calc(50% - 2px);
        }

.search-panel .inline-block {
    display: inline-block;
    margin-right: 20px;
}

.default-color {
    background-color: whitesmoke;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.sample-image {
    max-width: 300px;
    max-height: 300px;
}